// * {
//     outline: 1px red solid;
// }

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .actions {
        button {
            width: 100%;
            padding: 8px 16px;
            box-sizing: border-box;

            font-weight: 400;
            font-size: 16px;
            word-break: break-all;

            transition: all 0.2s ease-out;

            border: none;
            background-color: var(--light-gray-color);
        }
        button:hover {
            background-color: var(--light-gray-hover-color);
        }
        button:active {
            transform: scale(0.97);
            background-color: var(--light-gray-hover-color);
        }
    }

    .product {
        form {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .pictures {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                gap: 8px;

                .pictures-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 4px;

                    .picture {
                        flex-grow: 1;
                        width: 49%;
                        height: 70px;
                        box-sizing: border-box;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .placeholder {
                            width: 100%;
                            height: 100%;
                            background-color: var(--dark-color);
                        }
                    }

                    .picture:first-child {
                        width: 100%;
                        height: 300px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .placeholder {
                            width: 100%;
                            height: 100%;
                            background-color: var(--dark-color);
                        }
                    }
                }

                .picture-actions {
                    form {
                        width: 100%;
                        display: flex;
                        gap: 8px;

                        input[type=file] {
                            display: none;
                        }
                        // .custom-file-upload {
                        //     border: 1px solid #ccc;
                        //     display: inline-block;
                        //     padding: 6px 12px;
                        //     cursor: pointer;
                        // }


                        .custom-file-upload {
                            width: 100%;
                            padding: 8px 16px;
                            box-sizing: border-box;

                            font-weight: 400;
                            font-size: 16px;
                            word-break: break-all;
                            text-align: center;

                            transition: all 0.2s ease-out;
                            cursor: pointer;

                            border: none;
                            background-color: var(--light-gray-color);
                        }
                        .custom-file-upload:hover {
                            background-color: var(--light-gray-hover-color);
                        }
                        .custom-file-upload:active {
                            transform: scale(0.97);
                            background-color: var(--light-gray-hover-color);
                        }
                    }
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .product-id {
                    p {
                        height: 16px;
                        color: var(--dark-gray-color);
                    }
                }
                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    input[type=text] {
                        padding: 8px ;
                        width: 100%;
                        box-sizing: border-box;

                        transition: all 0.2s ease-out;

                        outline: none;
                        border: none;
                        border-bottom: 2px solid var(--black-color);

                        font-size: 16px;
                        font-weight: 400;
                    }
                    input[type=text]:focus {
                        border: none;
                        border-bottom: 2px solid var(--gray-color);
                    }
                }

            }
        }
    }


    .item-actions {
        .save-button {
            width: 100%;
            padding: 8px 16px;
            box-sizing: border-box;

            font-weight: 400;
            font-size: 16px;
            word-break: break-all;

            transition: all 0.2s ease-out;

            border: none;
            background-color: var(--yellow-color);
        }
        .save-button:hover {
            background-color: var(--yellow-hover-color);
        }
        .save-button:active {
            transform: scale(0.97);
            background-color: var(--yellow-hover-color);
        }
    }
}
