<div class="wrapper">
    <div class="actions">
        <button
        class="new-item">
            новий товар
        </button>
    </div>

    <div class="pictures">
        <div class="picture">
            <img *ngIf="product.image" [src]="product.image[0]">
            <div *ngIf="!product.image" class="placeholder"></div>
        </div>
    </div>

    <div class="info">
        <form
        [formGroup]="productForm"
        >
            <div class="form">
                <p>назва</p>
                <input type="text" formControlName="name">
            </div>
            <div class="form">
                <p>категорія</p>
                <input type="text" formControlName="category">
            </div>
            <div class="form">
                <p>ціна</p>
                <input type="text" formControlName="price">
            </div>
            <div class="form">
                <p>опис</p>
                <input type="text" formControlName="description">
            </div>
        </form>
    </div>

    <div class="item-actions">
        <button
        class="save-button"

        >збеееерегтиииии</button>
    </div>
</div>
