<div class="wrapper">
    <div class="actions">
        <button
        class="new-item"
        (click)="newProduct()">
            новий товар
        </button>
    </div>

    <div class="product">
        <form
        [formGroup]="productForm">
            <div class="pictures">
                <nz-carousel>
                    <!-- to render if the product in DB -->
                    @if (this.productId) {
                        @for (imageSrc of product.image; track $index) {
                            <div nz-carousel-content class="picture">
                                <img *ngIf="imageSrc" [src]="imageSrc">
                                <div *ngIf="!imageSrc" class="placeholder"></div>
                            </div>
                        }
                    }
                    <!-- to render image if its a new product -->
                    @else {
                        @for (item of this.imageUrls; track $index) {
                            <div nz-carousel-content class="picture">
                                <img *ngIf="item" [src]="item">
                                <div *ngIf="!item" class="placeholder"></div>
                            </div>
                        }
                        @if (this.imageUrls.length < 1) {
                            <div nz-carousel-content class="picture">
                                <div class="placeholder"></div>
                            </div>
                        }
                    }
                </nz-carousel>

                <!-- <div class="pictures-wrapper">
                    to render if the product in DB
                    @if (this.productId) {
                        @for (imageSrc of product.image; track $index) {
                            <div class="picture">
                                <img *ngIf="imageSrc" [src]="imageSrc">
                                <div *ngIf="!imageSrc" class="placeholder"></div>
                            </div>
                        }
                    }
                    to render image if its a new product
                    @else {
                        @for (item of this.imageUrls; track $index) {
                            <div class="picture">
                                <img *ngIf="item" [src]="item">
                                <div *ngIf="!item" class="placeholder"></div>
                            </div>
                        }
                        @if (this.imageUrls.length < 1) {
                            <div class="picture">
                                <div class="placeholder"></div>
                            </div>
                        }
                    }
                </div> -->

                <div class="picture-actions">
                    <form>
                        <label for="picture-upload" class="custom-file-upload">
                            завантажити зображення
                        </label>
                        <input id="picture-upload" type="file" accept="image/png, image/jpeg">
                    </form>
                </div>
            </div>

            <div class="info">
                <div class="product-id">
                    <p *ngIf="product._id">{{product._id}}</p>
                    <p *ngIf="!product._id">новий продукт</p>
                </div>
                <div class="form">
                    <p>назва</p>
                    <input type="text" formControlName="name">
                </div>
                <div class="form">
                    <p>категорія</p>
                    <input type="text" formControlName="category">
                </div>
                <div class="form">
                    <p>ціна</p>
                    <input type="text" formControlName="price">
                </div>
                <div class="form">
                    <p>опис</p>
                    <input type="text" formControlName="description">
                </div>
            </div>
        </form>
    </div>

    <div class="item-actions">
        <button
        class="save-button"
        (click)="saveProduct()"
        >
            збеееерегтиииии
        </button>
    </div>
</div>
