// * {
//     outline: 1px red solid;
// }

.wrapper {
    .content {
        display: flex;
        flex-direction: row;
        gap: 12px;

        .list {
            width: 60%;
        }
        .overview {
            background-color: var(--white-color);
            width: 40%;
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .content {
            flex-direction: column;
            gap: 42px;

            .list {
                width: 100%;
            }
            .overview {
                width: 100%;
            }
        }
    }
}
