.wrapper {
    .header {
        padding: 12px 42px;
        top: 0px;
        position: sticky;
        background-color: var(--white-color);
    }
    .router-content {
        padding: 12px 42px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .header {
            padding: 12px;
        }
        .router-content {
            padding: 12px;
        }
    }
}
